/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

#wp-sponsors ul{
    list-style: none;
}
.sponsors-item {
    padding-bottom: 15px;
}

p.sponsor-desc {
    margin-top: 5px;
}