/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

#wp-sponsors {
    list-style: none;
    margin-bottom: 15px;
    height: 100%;
}
.sponsors-item {
    padding-bottom: 15px;
}

p.sponsor-desc {
    margin-top: 5px;
}

#wp-sponsors div.sponsor-item {
    display: inline;
    float: left;
}
#wp-sponsors div.sponsor-item p {
    

}

/**
* Styling the for the linear shortcode option
*
*/
#wp-sponsors div.sponsor-item.default {max-width: 40%;}
#wp-sponsors div.sponsor-item.small {max-width: 15%;}
#wp-sponsors div.sponsor-item.medium {max-width: 25%;}
#wp-sponsors div.sponsor-item.large {max-width: 50%;}
#wp-sponsors div.sponsor-item.full {max-width: 100%;}


#wp-sponsors div.sponsor-item.default p {max-width:100%;}
#wp-sponsors div.sponsor-item.small p {max-width:100%;}
#wp-sponsors div.sponsor-item.medium p {max-width:100%;}
#wp-sponsors div.sponsor-item.large p {max-width:100%;}
#wp-sponsors div.sponsor-item.full p {max-width: 100%;}