/**
 * All of the CSS for your dashboard-specific functionality should be
 * included in this file.
 */

td.column-wp_sponsors_img {
    width: 100%;
}

td.column-wp_sponsors_logo img {
    width: auto;
    max-height: 80px;
}
